/* about page  */
.donate-header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--footer-bg);
    color: #fff;
}